{% extends 'base.html.twig' %}

{% block title 'A propos'%}

{% block body %}
<div class="about">
    <h1>Agence Immobiliére</h1>
     <span class="animate-border border-black"></span>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <h3> Qui somme nous</h3>
     <span class="animate-border border-black"></span>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum molestiae nobis, repellendus eveniet iusto expedita corporis nihil! Itaque quam tempora laborum? Ipsa ut suscipit impedit! Culpa nesciunt distinctio ipsum vero!</p>
    <h3>Nous rencontrer</h3>
     <span class="animate-border border-black"></span>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum molestiae nobis, repellendus eveniet iusto expedita corporis nihil! Itaque quam tempora laborum? Ipsa ut suscipit impedit! Culpa nesciunt distinctio ipsum vero!</p>
    <h3>Nous contacter</h3>
     <span class="animate-border border-black"></span>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
{% endblock %}